Form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  height: auto;
  color: white;
}
Label {
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
}

Button {
  padding: 4px 10px;
  color: rgb(16, 31, 31);
}
button:hover {
  background-color: #75ecec;
  color: white;
}
input {
  padding: 4px;
}
.iconForm {
  margin-right: 5px;
}
.message {
  font-size: x-small;
}
